<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden</title>
    <!-- we told it to start in the public folder in server.js -->
    <link rel='stylesheet' href='./css/app.css'>
</head>
<body>
    <h1>Seeds page</h1>
    <p>To add a seed to your garden, add the seed, then click on the seed name, or click the edit button for the seed and then enter the garden id of the garden you wish to add it to.</p>
   
    <nav>
        <a href='/seeds/new'>Add a new seed to the seed list</a><br>
        <a href='/gardens/new'>Add a new garden</a><br>
        <a href="/gardens/">View gardens</a>
        <!-- <a href='/gardens/new'>Add a seed to the garden</a> -->
    </nav>
    <ul>
       <% for(let i = 0; i<seeds.length; i++) { %>
            <li>
                <a href="/seeds/<%=seeds[i].id%>"><%=seeds[i].name%> in garden <%= seeds[i].gardenId %></a>
            </li>
               <form action="/seeds/<%=seeds[i].id%>?_method=DELETE" method='POST'>    <!--form can't delete so need to use a method -->
                <input type="submit" value="Delete">
            </form> 
            <a href="/seeds/<%=seeds[i].id%>">EDIT</a>
       <%} %>
    </ul>
</body>
</html>